@mixin init-footer-icon($url) {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: -30px;
  height: 30px;
  width: 30px;
  background: url($url) 50% no-repeat;
}

.footer {
  background: #3d4050;
  color: #ffffff;
  padding: 30px;
}
.footer__container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child)::after {
    content: "";

    display: block;
    margin-left: 40.33px;
    height: 18px;
    width: 1px;
    background: #c3c3c3;
  }
}

.footer__pay {
  position: relative;
  margin: 0 0 0 38px;
  font-family: "Lato";
}

.footer__pay--qiwi::before {
  @include init-footer-icon("../img/qiwi__icon.png");
}

.footer__pay--yandex::before {
  @include init-footer-icon("../img/yandexMoney__icon.png");
}

.footer__pay--web::before {
  @include init-footer-icon("../img/webMoney__icon.png");
}

.footer__contact {
  position: relative;
  margin: 0 0 0 48px;
  font-family: "Lato";
}

.footer__contact--mail::before {
  @include init-footer-icon("../img/emai__icon.png");
}

.footer__contact--vkontakte::before {
  @include init-footer-icon("../img/vkontakte__icon.png");
}
