@mixin init-footer-icon($url) {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: -30px;
  height: 30px;
  width: 30px;

  background: url($url) 50% no-repeat;
}

.footer {
  padding: 30px;

  background: #3d4050;
  color: #ffffff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.footer__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;

  width: fit-content;

  font-family: "Lato";

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    display: block;

    height: 18px;
    width: 1px;

    background: #c3c3c3;
  }
}

.footer__copyright {
  width: fit-content;
  margin: 0;
}
.footer__text {
  text-transform: uppercase;
}
.footer__pay {
  position: relative;
  margin: 0 0 0 38px;

  font-family: "Lato";
}

.footer__pay--qiwi::before {
  @include init-footer-icon("../img/qiwi__icon.png");
}

.footer__pay--yandex::before {
  @include init-footer-icon("../img/yandexMoney__icon.png");
}

.footer__pay--web::before {
  @include init-footer-icon("../img/webMoney__icon.png");
}

.footer__contact {
  position: relative;
  margin: 0 0 0 48px;

  font-family: "Lato";
  color: #ffffff;
}

.footer__contact--mail::before {
  @include init-footer-icon("../img/emai__icon.png");
}

.footer__contact--vkontakte::before {
  @include init-footer-icon("../img/vkontakte__icon.png");
}

@media (max-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
  }

  .footer__wrapper {
    justify-content: center;
    width: 100%;
    margin: 20px 0 0 0;

    &:first-child {
      margin: 0;
    }

    &::after {
      display: none !important;
    }
  }

  .footer__copyright {
    margin: 10px auto;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 10px;
  }
  .footer__wrapper {
    margin: 15px 0 0 0;
    flex-direction: column;
  }

  .footer__copyright {
    text-align: center;
  }

  .footer__pay {
    margin: 5px 0 0 0;
  }

  .footer__contact {
    margin: 5px 0 0 0;
  }
}
