html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.lazy__load {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.active {
  transform: translate(0px, 0px);
  opacity: 1;
}
