.greeting {
  padding-bottom: 202px;
  border-top: 1px solid transparent;

  background: url("../img/bg.jpg") 50% no-repeat;
}

.greeting__container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.greeting__title {
  width: 50%;

  text-align: left;
  margin-top: 203px;

  font-family: "Lato";
  text-transform: uppercase;
}

.greeting__backlight {
  color: #3e9cdc;
}

.greeting__caption {
  margin-top: 80px;
  margin-bottom: 0;
  font-family: "Lato";
  font-weight: 700;
}

.greeting__list {
  margin-top: 10px;
}

.greeting__item {
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Lato";
}

.greeting__wrapper {
  margin-top: 80px;
}

.greeting__link {
  padding: 15px 31.48px;
  font-family: "Lato";
  text-transform: uppercase;
}

.greeting__link_color--blue {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #3e9cdc;
}

.greeting__link_color--white {
  border: 1px solid #6f6d7b;
  color: #2a2b30;
  background: #ffffff;
}
