$main-white: #ffffff;
$main-black: #000000;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 33.5px 0 31.5px 0;

  background: #10101de5;
  z-index: 1000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.header__logo {
  font-family: "Raleway";
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;

  color: $main-white;
}

.header__backlight {
  color: #42a9ed;
}

.header__nav {
  width: 40%;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.nav__link {
  font-family: "Lato";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;

  color: $main-white;
}

.nav__link--active {
  color: #42a9ed;
}

@media (max-width: 768px) {
  .header__container {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    font-size: 18px;
  }
  .header__nav {
    width: 80%;
  }
  .nav__ul {
    justify-content: space-around;
  }
}
