@mixin init-icon($url) {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;

  background: url($url) 50% no-repeat;
}

.order {
  border-top: 1px solid transparent;
  padding: 0 0 150px 0;

  background: #272733 url("../img/order_bg.png") 50% no-repeat;
}

.order__container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.order__title {
  margin: 120px 0 0 0;

  font-family: "Lato";
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.order__backlight {
  color: #3e9cdc;
}

.order__caption {
  margin: 30px 0 0 0;

  font-family: "Lato";
  text-align: center;

  color: #bbbbbb;
}

.order__list {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin: 80px 0 auto;
}

.list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 18%;

  text-align: center;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50px;
    right: -50px;
    width: 80px;
    height: 1px;
    border-bottom: 10px dotted;

    color: #c4c4c4;
  }
}

.list__icon {
  position: relative;
  width: 100px;
  height: 100px;
  border: 5px solid #286690;
  border-radius: 100px;

  background: #3e9cdc;
}

.list__icon--search::before {
  @include init-icon("../img/search_icon.png");
}

.list__icon--percent::before {
  @include init-icon("../img/percent__icon.png");
}

.list__icon--folder::before {
  @include init-icon("../img/folder__icon.png");
}

.list__icon--message::before {
  @include init-icon("../img/message__icon.png");
}

.list__icon--currency::before {
  @include init-icon("../img/currence__icon.png");
}

.list__caption {
  margin: 20px 0 0 0;
  color: #ffffff;
  font-family: "Lato";
}

.order__form {
  margin: 80px 0 0 0;
}

.form__container {
  display: flex;
  justify-content: space-around;
}

.form__left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 50%;
}

.form__rigth {
  width: 30%;
}

.form__label {
  display: none;
}

.form__input {
  display: block;
  width: 40%;
  height: fit-content;
  padding: 12px 10px;

  font-family: "Lato";
}

.form__input::placeholder {
  color: #000000;
}

.form__input--width {
  width: 100%;
}

.form__slider-wrapper {
  width: 100%;
}
.form__slider-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 15px 0;

  color: #ffffff;
  font-family: "Lato";
}

.form__slider-progress {
  margin: 0;
}

.form__slider {
  width: 100%;
  display: block;

  background: transparent;

  cursor: pointer;
  -webkit-appearance: none;
}

.form__slider:focus {
  outline: none;
}

/*webkit*/
.form__slider::-webkit-slider-thumb {
  width: 23.72px;
  height: 23.72px;
  border-radius: 100px;

  border: 1px solid #286690;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - max(2em * 0.5, 1px));

  background: #007cf8;
  box-shadow: 0 0 2px black;

  -webkit-appearance: none;
}

.form__slider::-webkit-slider-runnable-track {
  height: 6px;
  border: 1px solid #ffffff;
  border-radius: 100px;

  background: #ffffffc7;
  box-shadow: none;
}

.form__slider::-webkit-slider-thumb:hover {
  background: #0061c3;
}

.form__slider:hover::-webkit-slider-runnable-track {
  background: #ffffffc7;
  border-color: #ffffff;
}

.form__slider::-webkit-slider-thumb:active {
  background: #2f98f9;
}

.form__slider:active::-webkit-slider-runnable-track {
  background: #ffffffc7;
  border-color: #ff0000;
}

/*mozilla*/
.form__slider::-moz-range-thumb {
  width: max(calc(23.72px - 1px - 1px), 0px);
  height: max(calc(2em - 1px - 1px), 0px);
  border-radius: 100px;
  background: #007cf8;
  border: 1px solid #286690;
  box-shadow: 0 0 2px black;
}

.form__slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border: 1px solid #ffffff;
  border-radius: 100px;
  background: #ffffffc7;
  box-shadow: none;
}

.form__slider::-moz-range-thumb:hover {
  background: #0061c3;
}

.form__slider:hover::-moz-range-track {
  background: #ffffffc7;
  border-color: #ffffff;
}

.form__slider::-moz-range-thumb:active {
  background: #2f98f9;
}

.form__slider:active::-moz-range-track {
  background: #ffffffc7;
  border-color: #ff0000;
}

/*ms*/
.form__slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

.form__slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

.form__slider::-ms-thumb {
  width: 23.72px;
  height: 2em;
  border-radius: 100px;
  border: 1px solid #286690;
  margin-top: 0;

  background: #007cf8;
  box-shadow: 0 0 2px black;
}

.form__slider::-ms-track {
  height: 1em;
  border-radius: 100px;

  border: 1px solid #ffffff;

  background: #ffffffc7;
  box-shadow: none;
}

.form__slider::-ms-thumb:hover {
  background: #0061c3;
}

.form__slider:hover::-ms-track {
  background: #ffffffc7;
  border-color: #ffffff;
}

.form__slider::-ms-thumb:active {
  background: #2f98f9;
}

.form__file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #3e9cdc;
  margin-top: 50px;
  padding: 12px;

  color: #000000;
  background: #ffffff;
  font-family: "Lato";
  text-align: center;

  cursor: pointer;

  &::before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    background: url("../img/file__icon.png") 50% no-repeat;
  }
}

.form__file {
  visibility: hidden;
}

.form__submit {
  display: block;
  width: fit-content;
  border: 1px solid #ffffff;
  border: 1px solid #ffffff;
  padding: 17.5px 124.98px;
  margin: 40px auto 0;

  background: #3e9cdc;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato";

  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: 1px solid #42a9ed;
    background: #ffffff;
    color: #42a9ed;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .order__list {
    flex-wrap: wrap;
  }

  .list__item {
    width: 200px;
    margin: 20px 0 0 0;
    &::after {
      display: none;
    }
  }

  .form__container {
    flex-direction: column;
    justify-content: center;
  }
  .form__left {
    width: 60%;
    margin: 0 auto;
  }

  .form__rigth {
    width: 60%;
    margin: 30px auto 0;
  }

  .form__submit {
    padding: 10px 50px;
  }
}

@media (max-width: 500px) {
  .form__left {
    justify-content: center;
    flex-direction: column;

    width: 100%;
  }

  .form__input {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .form__rigth {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .list__item {
    width: 200px;
    margin: 20px 0 0 0;
    &:not(:last-child)::after {
      display: none;
    }
  }
  .list__icon {
    width: 70px;
    height: 70px;

    &::before {
      width: 100%;
      height: 100%;
    }
  }
}
